* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
    background-color: #1c1c1c;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .header-left h1 {
    margin: 0;
    font-size: 28px;
  }
  
  .header-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .header-right ul li {
    margin: 0 10px;
  }
  
  .header-right ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  #map {
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  footer {
    height: 5vh;
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  
  @media only screen and (max-width: 600px) {
    header {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
    
    .header-left h1 {
      font-size: 24px;
    }
    
    .header-right ul {
      flex-direction: column;
      align-items: center
    }
}